<h1>BBQ</h1>

<div data-hook="bbq-info" data-bbq="<%= params[:id] %>"></div>

<div id="items">
  <h4>Items:</h4>
  <form action="#" class="new-item">
    <input type="text" class="new-item">
    <input type="submit">
  </form>
</div>